﻿<div id="bcPanel">
	<div id="bcHeader">
		<!--<i class="fa fa-minus" id="bcFormMin"></i>--><!--todo:-->
		<!--<i class="fa fa-arrows"></i>--><!--todo: 21312-->
		<i class="fa fa-refresh" onclick="Reload()"></i>
		<i class="fa fa-times" id="bcForm.Close"></i><!--todo:-->
	</div>


	<div id="bcMenu" class="dropdown">
		<div id="bcDropMenu">
			Меню <i class="fa fa-angle-double-right"></i>
			<span id="bcMenuCurront">Парсинг списка друзей</span>
		</div>
		<ul id="bcMenu-dropdown" style="display: none;">
			<li class="bcActive" data-section="bcSendMess">Рассылка сообщений</li>
			<li data-section="bcInviteToGroup">Приглашение на встречу</li>
			<hr />
			<li data-section="bcAbout"> О програме </li>
		</ul>
	</div>

	<div id="bcSection">
		<div id="bcSendMess">

			<button id="bcSendMess_New" onclick="bc.SendMess.NewParseeUser()">New </button>
			<button id="bcSendMess_Open" onclick="bc.SendMess.OpenLocalStorage()">Open</button>
			<button id="bcSendMess_Save" onclick="bc.SendMess.SeveLocalStorage()">Save</button>
			<button id="bcSendMess_Clear" onclick="bc.SendMess.ClearAll()">Clear</button>

			<p>
				Cписок рассылки: = <span id="bcSendMess.NumUsers">0</span>
				<textarea id="bcSendMess_ListUsers"></textarea><i class="fa fa-times" id="bcSendMess_ListUsers_Clean"></i>
			</p>
			<hr style="margin: 1px 0;">
			<p>
				Сообщение:
				<textarea id="bcSendMess_MessText"></textarea><i class="fa fa-times" id="bcSendMess_MessText_Clean"></i>
			</p>

			<p>
				Медиа файлы:
				<textarea id="bcSendMess_MessMedia"></textarea><i class="fa fa-times" id="bcSendMess_MessMedia_Clean"></i>
			</p>
			<p>
				<span>Interval:</span>
				<input type="text" id="bcSendMess_IntervalSend" value="5 - 10">
				<span>
					<button onclick="bc.SendMess.Send()" class="bcButtonControl"><i class="fa fa-paper-plane-o"></i></button>
					<button onclick="bc.SendMess.Stop()" id="bcSendMess_Stop" class="bcButtonControl bcButtonControlActive"><i class="fa fa-stop"></i></button>
				</span><br />
				<input type="checkbox" checked="true" id="bcSendMess_isSound" onchange="bc.Lib.TestAudio()" /> включить звук
			</p>
		</div>

		<!--bcInviteToGroup--><!--bcInviteToGroup--><!--bcInviteToGroup--><!--bcInviteToGroup--><!--bcInviteToGroup--><!--bcInviteToGroup--><!--bcInviteToGroup--><!--bcInviteToGroup-->
		<div id="bcInviteToGroup" style="display: none;">
			<p id="begin">
				Начать приглашение пользователей: <br />
				<button onclick="bc.Invite.BeginFirstUser()">Начало списка</button>	<br />
				<button onclick="bc.Invite.BeginLastUser()">Последнего приглашенного</button> <br />
				Найти: <input type="text" id="bcInviteToGroup_StartWithUser" placeholder="http://vk.com/user" />
			</p>
			<hr style="margin: 1px 0;">
			<p>
				<span>Interval:</span>
				<input type="text" id="bcInviteToGroup_Interval" value="2 - 3">
				<span>
					<button title="Начать" onclick="bc.Invite.Start()" class="bcButtonControl"><i class="fa fa-play"></i></button>
					<button title="Stop" onclick="bc.Invite.Stop()" id="bcInviteToGroup_Stop" class="bcButtonControl bcButtonControlActive"><i class="fa fa-stop"></i></button>
				</span>
				<br />

				<input type="checkbox" checked="true" id="bcInvite_isSound" onchange="bc.Lib.TestAudio()" /> включить звук
			</p>
			<hr style="margin: 1px 0;">
			<p>
				Приглашено: <span id="bcInviteToGroup_invitedUsers"></span><br />
				Выслано приглашений: <span id="bcInviteToGroup_SendInvitedUsers"></span><br />
				Текущий пользватель: <span id="bcInviteToGroup_currentUser"></span><br />
				<progress id="bcInvateProgress" value="0" max="100"></progress>
			</p>
			<p>
				Не удалось пригласить: = <span id="bcInviteToGroup_NumUsers">0</span>
				<textarea id="bcInviteToGroup_ListUsers"></textarea><i class="fa fa-times" id="bcInviteToGroup_ListUsers_Clean"></i>
			</p>

		</div>
	</div>
	<div id="bcFooter">
		<p>Лог:  <i class="fa fa-times" onclick="bc.Log.ClearAll()"> </i></p>
		<div id="bcFooter_ErrorList">
			<ol id="bcFooter_ErrorList_ol" reversed>
				<li> Some Error  <i class="fa fa-times"></i></li>
			</ol>
		</div>
	</div>
</div>