﻿

#bcPanel {
	background: #f7f7f7;
	z-index: 2000;
	width: 254px;
	position: fixed;
	left: 10px;
	top: 10px;
	display: block;
}


#bcHeader {
	background: #31537a;
	height: 20px;
	text-align: right;
	padding: 0 2px;
    cursor: move;
}

	#bcHeader i {
		color: white;
		margin: 0 2px;
		font-size: 20px;
	}

/* -- BUTTON -- */
#bcPanel button {
	cursor: pointer;
	border-radius: 2px;
	background: #6383a8;
	border: 1px;
	color: white;
	font-weight: 600;
	font-size: 14px;
	padding: 4px 4px;
    margin: 0 1px;
}

	#bcPanel button:hover {
		background: #6d8cb0;
	}

#bcSection button.bcButtonControl {
	width: 30px;
}

#bcSection button.bcButtonControlActive {
	color: darkred;
}


/* --- INPUT ---  */
input[type="text"]#bcSendMess_IntervalSend,
input[type="text"]#bcInvite_Interval {
	width: 55px;
	margin: 2px;
	font-size: 14px;
	text-align: center;
}


/* -- MENU -- */
#bcMenu {
	display: block;
	cursor: pointer;
	background: #dbe0e5;
	position: relative;
}


	#bcMenu ul {
		position: absolute;
		border-style: solid;
		border-width: 0 1px 1px 1px;
		border-color: #b2bdca;
		width: 248px;
		font-weight: 500;
		padding: 0;
		margin: 0;
		z-index: 5000;
		background: white;
	}

		#bcMenu ul li {
			padding: 3px 20px;
			color: #2B587A;
			list-style-type: none;
		}

			#bcMenu ul li:hover {
				background: #ebeef2;
			}

			#bcMenu ul li.bcActive {
				background: #5e82a8;
				color: white;
			}

		#bcMenu ul hr {
			margin: 2px 0;
			background: #b2bdca;
			height: 1px;
		}

#bcDropMenu {
	padding: 2px 10px;
}




/* SECTION */
#bcSection {
	text-align: center;
	padding: 0;
	border: solid #dae2e8;
	border-width: 0 1px;
}

#bcSendMess {
	display: block;
	padding: 5px;
}

	#bcSendMess button {
		width: 55px;
	}

	#bcSendMess p {
		text-align: left;
		margin: 2px 0 0 0;
	}

		#bcSendMess p span.btn-clear {
			float: right;
			cursor: pointer;
		}

	#bcSendMess textarea {
		resize: both;
		width: 230px;
		overflow: auto;
	}

		#bcSendMess textarea#bcSendMess_ListUsers {
			height: 150px;
		}

		#bcSendMess textarea#bcSendMess_MessText {
			height: 50px;
		}

		#bcSendMess textarea#bcSendMess_MessMedia {
			height: 30px;
		}

	#bcSendMess p  textarea + i {
		position: absolute;
		right: 6px;
		border: 1px solid darkgrey;
		padding: 0 2px;
		background: #f1f3f5;
	}





/****************************/
#bcInvite {
	padding: 5px;
}

	#bcInvite p {
		text-align: left;
		margin: 5px 0;
	}

	#bcInvite p#begin button {
		padding: 1px 8px;
		margin: 1px 0;
	}
	#bcInvite button {
		padding: 2px 8px;
	}

	#bcInvite input#bcInvite_StartWithUser {
		width: 173px;
	}

	#bcInvite textarea {
	    -moz-resize: both;
	    -ms-resize: both;
	    -o-resize: both;
	    resize: both;
		width: 230px;
		overflow: auto;
	}
    #bcInvite #bcInvite_StartWithNum {
        width: 60px;
    }

#bcInvite textarea#bcInvite_ListUsers {
			height: 80px;
		}

	#bcInvite p  textarea+i {
		position: absolute;
		right: 6px;
		border: 1px solid darkgrey;
		padding: 0 2px;
		background: #f1f3f5;
	}
	#bcInvite p progress {
	   
		  background-color: #f3f3f3;
		  border: 0;
		  width: 100%
			
	}





#bcFooter {
	border-radius: 0 0 10px 10px;
	border: 1px solid #dae2e8;
	border-top: 2px solid #ccc;
	text-align: center;
	padding: 0 5px;
}

	#bcFooter p {
		text-align: left;
		margin: 2px 0;
	}

	#bcFooter i {
		padding: 0;
		float: right;
		cursor: pointer;
	}

	#bcFooter #bcFooter_ErrorList {
		height: 100px;
		margin-bottom: 2px;
		text-align: center;
		overflow: auto;
		border-top: 1px solid #dae2e8;
	}
	#bcFooter p i {
		border: 1px solid darkgrey;
		padding: 0 2px;
		background: #f1f3f5;
	}

		#bcFooter #bcFooter_ErrorList ol {
			padding-left: 24px;
			background: whitesmoke;
			text-align: left;
		}

			#bcFooter #bcFooter_ErrorList ol li:hover {
				background: #cccccc;
			}



/* BootStrap*/
